.DS_Store
.idea/
*.iml
target/
fonts.ser
crossUserEncoder/dist
crossUserEncoder/ffmpeg/.config
crossUserEncoder/ffmpeg/.version
crossUserEncoder/ffmpeg/config.asm
crossUserEncoder/ffmpeg/config.fate
crossUserEncoder/ffmpeg/config.h
crossUserEncoder/ffmpeg/config.log
crossUserEncoder/ffmpeg/config.mak
crossUserEncoder/ffmpeg/doc/config.texi
crossUserEncoder/ffmpeg/doc/examples/pc-uninstalled/
crossUserEncoder/ffmpeg/libavcodec/libavcodec.pc
crossUserEncoder/ffmpeg/libavdevice/libavdevice.pc
crossUserEncoder/ffmpeg/libavfilter/libavfilter.pc
crossUserEncoder/ffmpeg/libavformat/libavformat.pc
crossUserEncoder/ffmpeg/libavutil/avconfig.h
crossUserEncoder/ffmpeg/libavutil/ffversion.h
crossUserEncoder/ffmpeg/libavutil/libavutil.pc
crossUserEncoder/ffmpeg/libswresample/libswresample.pc
crossUserEncoder/ffmpeg/libswscale/libswscale.pc
crossUserEncoder/output.*
crossUserEncoderInspiration
crossUserFrontend/dist
crossUserFrontend/node
crossUserFrontend/node_modules
crossUserServer/src/main/webapp/index.html