.DS_Store
.idea/
*.iml
target/
fonts.ser
crossUserEncoder/dist
crossUserEncoder/output.*
crossUserEncoderInspiration
crossUserFrontend/dist
crossUserFrontend/node
crossUserFrontend/node_modules
crossUserServer/src/main/webapp/index.html