.DS_Store
.classpath
.factorypath
.idea/
.project
.settings
.vscode

*.iml
target/
fonts.ser
assets/java/keystore
encoder/js/dist
encoder/js/node_modules
encoder/as3/dist
encoder/as3/blog.html
frontend/dist
frontend/node
frontend/node_modules
frontend/package-lock.json