<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" verbose="true" packages="com.babelcentral.services.instrumentation">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} %L – %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.marstonstudio" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>