html, body  { height:100%; }
body {
    margin:0; padding:0; overflow:auto; text-align:center;
    font-family: "Arial", "Helvetica";
    background-color: #ffffff;
}
object:focus { outline:none; }

a {
    padding:10px;
}

#root {width: 350px; padding:10px;}

div.container { width:310px; height:20px; padding:10px;}
#controlContainer {padding-left: 0px;}
#flashContainer { height:138px; padding:0px;}
#resultsContainer { padding-left: 0px; }

div.button { height: 20px; color:#ffffff; border: black; border-style: solid; border-width:1px; cursor: pointer; display: block; }
#startButton { background-color: green; float:left; width: 140px; }
#stopButton { background-color: darkred; float:right; width: 140px; }
#sourceButton { background-color: blue; width:310px; margin-bottom: 10px;}
#outputButton { background-color: black; width:310px; margin-bottom: 10px;}
#downloadButton { background-color: purple; width:310px;}

