@width-base: 215px;
@height-base: 138px;
@gutter: 10px;



div.container { width:@width-base; height:(@gutter * 2px); padding:@gutter;}
#controlContainer {padding-left: 0px;}
#flashContainer { height:@height-base; padding:0px;}
#resultsContainer { padding-left: 0px; }

div.button { height: (@gutter * 2px); color:#ffffff; border: black; border-style: solid; border-width:1px; cursor: pointer; display: block; }
#startButton { background-color: green; float:left; width: ((@width-base / 2px) - @gutter);}
#stopButton { background-color: darkred; float:right; width: ((@width-base / 2px) - @gutter); }
#sourceButton { background-color: blue; width:@width-base; margin-bottom: @gutter;}
#outputButton { background-color: black; width:@width-base; margin-bottom: @gutter;}
#downloadButton { background-color: purple; width:@width-base;}

