<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/microphone.css">
    <link rel="shortcut icon" href="#" />
</head>
<body layout="column" ng-app="Microphone" ng-controller="MicrophoneController as microphone">

    <md-content id="flashContainer"
                ng-if="microphoneFlashEnabled"
                ng-class="microphoneFlashVisible ? 'flashContainerVisible' : 'flashContainerHidden'">
        <swf-object
                ng-if="microphoneFlashEnabled"
                swf-id="crossUserMicrophoneSwf"
                swf-url="/swf/crossUserMicrophone.swf"
                swf-version="14.0.0"
                swf-width="100%"
                swf-height="100%"
                swf-bgcolor="#FFFFFF"
                swf-wmode="transparent">
            <div id="flashInstaller">
                <a href="https://get.adobe.com/flashplayer/">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
            </div>
        </swf-object>
    </md-content>

    <md-toolbar layout="row" layout-align="left center" class="md-toolbar-tools" md-scroll-shrink="true">

        <md-button class="md-icon-button" aria-label="settings" ng-if="microphoneFlashEnabled" ng-click="microphone.setFlashVisible(true)">
            <md-tooltip>microphone permissions</md-tooltip>
            <md-icon>settings</md-icon>
        </md-button>

        <h2>Cross Browser Compatible Audio Recorder</h2>

        <md-button flex="10" class="md-icon-button" aria-label="source code on github" ng-href="https://github.com/marstonstudio/crossUserMedia" target="_blank">
            <md-tooltip>github source</md-tooltip>
            <md-icon md-svg-src="/img/icons/github.svg"></md-icon>
        </md-button>

    </md-toolbar>
    <md-content layout="column" class="buttonBox">

        <md-content layout="row" layout-align="space-between center">
            <md-button id="startButton"
                       class="md-raised md-accent" flex
                       ng-click="microphone.startRecording();">
                <md-icon>mic</md-icon>
                Start Recording
            </md-button>

            <md-button id="stopButton"
                       class="md-raised md-warn" flex
                       ng-click="microphone.stopRecording();">
                <md-icon>stop</md-icon>
                Stop Recording
            </md-button>
        </md-content>

        <md-content layout="column">

            <md-whiteframe class="md-whiteframe-z3" layout="row" layout-margin layout-wrap layout-align="center center">
                <div id="statusBox" flex="45" class="details">{{microphoneStatus}}</div>
                <div id="timerBox" flex="45" class="details">{{microphoneTime}}</div>

                <md-progress-linear md-mode="determinate" class="md-accent" value="{{microphoneLevel}}" flex="95"></md-progress-linear>

                <div flex="95"> </div>

                <Audio id="outputAudio"></Audio>
                <Audio id="sourceAudio"></Audio>

            </md-whiteframe>

            <md-button id="sourceButton"
                       class="md-raised md-primary md-hue-1"
                       ng-if="microphoneSourceAudioEnabled"
                       ng-disabled="!microphoneSourceAudioReady"
                       ng-click="microphone.playSource();" >
                <md-icon>play_circle_filled</md-icon>
                Play Original WAV</md-button>

            <md-button id="outputButton"
                       class="md-raised md-primary md-hue-3"
                       ng-disabled="!microphoneOutputAudioReady"
                       ng-click="microphone.playOutput();">
                <md-icon>play_circle_outline</md-icon>
                Play Encoded MP4</md-button>

        </md-content>

    </md-content>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/ffmpegaac.js"></script>
    <script type="text/javascript" src="/js/ffmpegaac.js.mem"></script>
    <script type="text/javascript" src="/js/application.js"></script>

</body>
</html>
