<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/microphone.css">
    <link rel="shortcut icon" href="#" />
</head>
<body layout="column" ng-app="Microphone" ng-controller="MicrophoneController as microphone">

<swf-object
        swf-id="crossUserMicrophoneSwf"
        swf-url="/swf/crossUserMicrophone.swf"
        swf-version="14.0.0"
        swf-width="215"
        swf-height="138"
        swf-bgcolor="#F5F5DC"
        swf-wmode="window"
        swf-visible="{{microphone.showFlash}}"
        ng-if="microphone.useFlash">
</swf-object>

    <md-toolbar layout="row" layout-align="left center" class="md-toolbar-tools" md-scroll-shrink="true" >

        <md-button class="md-icon-button" aria-label="settings" ng-if="microphone.useFlash" ng-click="microphone.toggleShowFlash()">
            <md-tooltip>microphone permissions</md-tooltip>
            <md-icon>settings</md-icon>
        </md-button>

        <h2>Cross Browser Compatible Audio Recorder</h2>

        <md-button flex="10" class="md-icon-button" aria-label="source code on github" ng-href="https://github.com/marstonstudio/crossUserMedia" target="_blank">
            <md-tooltip>github source</md-tooltip>
            <md-icon md-svg-src="/img/icons/github.svg"></md-icon>
        </md-button>

    </md-toolbar>
    <md-content>

    </md-content>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>

</body>
</html>